@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #000000;
    color: #FFFFFF;
}

nav {
    padding: 10px 30px 10px 30px;
    display: flex;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    border-bottom: 2px solid #FFF;
    background: #000;
    justify-content: space-between;
}

#navigation a {
    text-decoration: none;
    padding-left: 25px;
}

#card {
    padding: 150px 150px 150px 500px;
}

#card button {
    color: #000;
    background: #FFF;
    width: 15%;
    height: 25px;
}